<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> ->
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Artworks NZ Logo">
            <h1>Artworks NZ</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/artists/">Artists</a></li>
                <li><a href="/artworks/">Artworks</a></li>
                <li><a href="/admin/">Admin Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Artworks NZ, 2023</p>
    </footer>
</body>

</html>