footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

footer ul {
    display: flex;
}

footer li {
    margin-right: 1em;
}





/* == OTHER CSS =================================== */

/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    box-sizing: border-box;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
}


/* LAYOUT */

/* NOTE: The copyright item in the footer is not part of the footer menu (see HTML), so 
   it is not a list item (li) - it is a paragraph. This means we might need nested flexboxes,
   depending on what layout we are trying to achieve. In this example we want the footer 
   menu on the left and the copyright item on the right. */


body {
    width: 60rem;
    margin: 0 auto;
}

header {
    padding: 1em;
}

main {
    margin: 5em 0 10em 0;
}


/* COLOUR SCHEME */

header, footer {
    background-color: #0088ee;
}

header, footer, footer a {
    color: #ffffff;
}


/* TYPOGRAPHY */

h1 {
    font-size: 2rem;
    text-align: left;
}